<div class="row">
   <div class="col-md-12">
        <h2 class="style1">Departments<a href="/departments/add" class="btn btn-success
pull-right" style="margin-top:5px;">Add New Department</a></h2>
        <hr />
        <div class= 'table-responsive'>
            <table class= 'table'>
                <tr>
                    <th>Department Number</th>
                    <th>Department Name</th>
                </tr>
            {{#each departments}}
                <tr>
                    <td><a href="/department/{{departmentId}}">{{departmentId}}</a></td>
                    <td><a href="/employees?department={{departmentId}}">{{departmentName}}</a></td>
                </tr>
            {{/each}}
            </table>
        </div>
    </div>
</div>